@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.task-done{
    text-decoration: line-through;
    opacity: 0.5;
}

main .input-block{
    width: max-content;
    margin-inline: auto;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #726636;
    color: white;
}

#addTask{
    background-color: #726636;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

#task{
    height: 35px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #726636;
    color: white
}

#task::placeholder{
    color: white;
}

.output-block{
    margin-top: 1rem;
    background-color: #726636;
    color: white;
    width: 300px;
    margin-inline: auto;
    border: 2px solid white;
    border-radius: 10px;
}

.output-block ul{
    padding-left: 3rem;
    padding-right: 3rem;
    list-style-type:circle;
}

.output-block ul li{
    margin-bottom: .8rem;
}

.output-block ul li i{
    text-align: right;
}